[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"progressbar2" = "==3.30.2"
pyserial = "==3.3"
six = "==1.10.0"
click = "==6.7"
NeuroPy = "==0.1"

[dev-packages]

[requires]
python_version = "2.7"
